*{
	margin: 0;
	padding: 0;
}
body{
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

nav{
	width: 100%;
	height: 5%;
}
nav ul{
	top:0;
}
nav li{
	list-style-type: none;
	display: inline;
}
nav li a {
	font-size: 20px;
	text-decoration: none;
	float: right;
	margin:0 10px;
	border-radius:10px ;
	color:#6495ED;
}
nav li a:hover{
	background-color: cornflowerblue;
	color:white;
}
/*首页预览*/
.header{
	background-image: url(../img/background/main_background1.png);
	overflow: hidden;
	background-size: 100% 100%;
	width: 100%;
	height: 500px;
	margin:0;
	padding: 0;
	display: inline-block;
}
.special{
	width: 100%;
	height: auto;
	display: flex;
	margin: 50px auto;
}
.spe_items{
	border: 1px solid #6495ED;
	border-radius: 10px;
	width: auto;
	height:auto;
	margin: 0 100px;
	position: relative;
	transition: all 0.5s;
}
.spe_items img{
	width: 170px;
	height: 160px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.pic_desc{
	width: auto;
	height: auto;
	color: white;
	background: #6495ED;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.spe_items:hover{
	transform:translate(calc(-10% + 5px), calc(-10% - 5px));
	box-shadow:-10px 10px 0 rgba(0,0,0,0.2);
}
/*关于我们*/
.aboutUs{
	width: 100%;
	height: 500px;
	display: flex;
}
.aboutdesc{
	width: 50%;
	height: auto;
	margin: 10px 0;
	color: cornflowerblue;
}
.aboutdesc  p,li{
	margin: 10px 10px;
}
.aboutpic{
	width: 50%;
	height: auto;
	margin: 10px 0;
}
.aboutpic img{
	margin: 10px 100px;
}
/*底部链接*/
footer a{
	text-decoration: none;
	font-size:16px;
}
footer a:hover{
	color: gray;
}
/*底部链接图标*/
footer span{
	margin: 0 4px;
}
.link_icon{
	width:16px;
	height: 16px;
}
