*{
	margin: 0;
	padding: 0;
}
body{
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

nav{
	width: 100%;
	height: 5%;
}
nav ul{
	top:0;
}
nav li{
	list-style-type: none;
	display: inline;
}
nav li a {
	font-size: 20px;
	text-decoration: none;
	float: right;
	margin:0 10px;
	border-radius:10px ;
	color:white;
}
nav li a:hover{
	background-color: white;
	color: darkblue;
}
/*首页预览*/
.header{
	background-image: url(../img/background/index.png);
	overflow: hidden;
	background-size: 100% 100%;
	width: 100%;
	height: 550px;
	margin:0;
	padding: 0;
	display: inline-block;
	border: 1px;
}
.indexContainer{
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom:30px ;
	display: flex;
	flex-wrap: wrap;
}
.icons{
	width: 100%;
	height: 400px;
	display: flex;
	display: -webkit-flex;
	margin: 20px 0;
}
.comments{
	width: 200px;
	height: 200px;
	border-radius: 8px;
	border: 1px solid #6495ED;
	font-size: 17px;
	color: white;
	margin: 10px auto;
	text-align: center;
	position: relative;
	transition: all 0.5s;
}
.visit{
	width: 200px;
	height: 200px;
	border-radius: 8px;
	border: 1px solid #6495ED;
	font-size: 17px;
	color: white;
	margin: 10px auto;
	text-align: center;
	position: relative;
	transition: all 0.5s;
}
.liked{
	width: 200px;
	height: 200px;
	border-radius: 8px;
	border: 1px solid #6495ED;
	font-size: 17px;
	color: white;
	margin: 10px auto;
	text-align: center;
	position: relative;
	transition: all 0.5s;
}
.comments:hover{
	transform: translateY(-10%);
	box-shadow: -10px 10px 0 rgba(0,0,0,0.2);
}
.visit:hover{
	transform: translateY(-10%);
	box-shadow: -10px 10px 0 rgba(0,0,0,0.2);
}
.liked:hover{
	transform: translateY(-10%);
	box-shadow: -10px 10px 0 rgba(0,0,0,0.2);
}
.pic img{
	width: 200px;
	height: 170px;
	border-top-right-radius:8px ;
	border-top-left-radius: 8px;
}
.icondesc{
	width: 100%;
	height: 26px;
	margin-top: -3px;
	background: #a1c4fd;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
/*关于我们*/
.aboutus{
	width: 100%;
	height: auto;
	display: flex;
}
.aboutdesc{
	width: 50%;
	height: auto;
	margin: 15px 0;
	color: #6495ED;
	font-size: 17px;
	font-family: Kaiti;
}
.aboutdesc p,li{
	margin: 10px 20px;
}
.tologin{
	width: 50%;
	height: auto;
	margin: 15px 0;
	text-align: center;
}
/*底部链接*/
footer a{
	text-decoration: none;
	font-size:16px;
}
footer a:hover{
	color: gray;
}
/*底部链接图标*/
footer span{
	margin: 0 4px;
}
.link_icon{
	width:16px;
	height: 16px;
}
