*{
    margin: 0;
    padding: 0;
   /* background-image: url("../img/background/log_reg.png"); */
    background: #a1c4fd;
    background-size: cover;
}
nav{width: 100%;height: 10%;}
nav li{
    list-style-type: none;
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    float: right;
    margin: 0 5px;
    color: white;
}
nav ul li a:hover{
    background: white;
    border-radius: 9px;
    color:cornflowerblue;
}
.user_profiles {
    width: 70%;
    height: 60%;
    margin: 30px auto;
    text-align: center;
}
.user_profiles table{
    margin:40px auto;
    background: #6495ED;
    width: 60%;
    height:450px ;
    border:1px;
    border-radius: 9px;
    text-align: center;
    font-size: 17px;
}
.desc{
    color: white;
}
table td{
    margin: 0 20px;
    background: #6495ED;
}
input[type=text],[type=email],[type=tel]{
    width: 180px;
    height: 25px;
    border-radius:10px;
    font-size: 14px;
    background: white;
}
input[type=submit],[type=reset]{
    width:80px;
    height: 30px;
    border-radius:7px;
}
input[type=number]{
    width: 60px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    background: white;
}
button{
    width: 80px;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    border: 1px ;
    background: #accbee;
}
input{
    margin: 15px 10px;
    font-size: 15px;
    border: 1px ;
}
input:hover{
    box-shadow: 1px 2px 6px 3px  lightgreen;
}
input[type=reset]:hover{
    background: white;
    color: cornflowerblue;
    cursor: pointer;
}
input[type=submit]:hover{
    background: white;
    color: cornflowerblue;
    cursor: pointer;
}
button:hover{
    color: cornflowerblue;
    background: white;
    cursor: pointer;
    box-shadow: 1px 2px 6px 3px  lightgreen;
}
/*底部链接*/
footer a{
    text-decoration: none;
    font-size:16px;
}
footer a:hover{
    color: gray;
}
/*底部链接图标*/
footer span{
    margin: 0 4px;
}
.link_icon{
    width:16px;
    height: 16px;
}