*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    width: 100%;height: 100%;
    list-style-type: none;
}
.head li{
    display: inline;
}
.head li a {
    color: #6495ED;
}
.head li a:hover{
    background: #6495ED;
    color: white;
    border-radius: 9px;
    cursor: pointer;
}
.square_pic{
    width:80%;
    height: 250px;
    margin: 10px auto;
}
.square_moving{
    width: 80%;
    height: auto;
    margin: 10px auto;
    display: block;
}
.usercontains{
    width: 100%;
    height: 50px;
    display: flex;
}
.useritems{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    margin: 10px auto;
    background: white;
    text-align: center;
}
.useritems a{
    color: #6495ED;
    text-decoration: none;
    background: #00000000;
    font-size: 22px;
}
.useritems:hover{
    background: #6495ED;
    cursor: pointer;
}
.useritems a:hover{
    color: white;
    cursor: pointer;
}
#publish{
    width: 100%;
    height: 150px;
    margin: 10px 0;
}
#publish textarea{
    width: 100%;
    height: 100px;
    border: 2px solid #6495ED;
    border-radius: 9px;
    font-size: 15px;
    background: #00000000;
}
#publish input{
    width: 75px;
    height: 30px;
    border-radius: 7px;
    border:1px;
    font-size: 15px;
    text-align: center;
    margin: 5px 10px;
    background: white;
    float: right;
}
#publish input:hover{
    background: #6495ED;
    color: white;
    cursor: pointer;
}
/*底部链接*/
footer a{
    text-decoration: none;
    font-size:16px;
}
footer a:hover{
    color: gray;
}
/*底部链接图标*/
footer span{
    margin: 0 4px;
}
.link_icon{
    width:16px;
    height: 16px;
}
/*注销*/
#hidebg {
    position:absolute;
    left:0px;
    top:0px;
    background-color:#000;
    width:100%;
    filter:alpha(opacity=60);
    opacity:0.6;
    z-Index:1;
    display: none;
}
.logout{
    width: 30%;
    height: 250px;
    border-radius: 9px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    position: fixed;
    text-align: center;
    background: #6495ED;
    font-size: 15px;
}
.logout p{
    font-size: 20px;
    text-align: center;
}
.logout span{
    color: red;
    font-size: 13px;
}

.logout input[type=text],[type=email]{
    width: 170px;
    height: 25px;
    border:1px ;
    border-radius: 9px;
    margin: 10px 10px;!important;
}
.logout li{
    list-style-type:none;
    margin: 10px 5px;
}
.logout input[type=submit]{
    width: 75px;
    height: 30px;
    background: white;
    border: 1px;
    color: #6495ED;
    border-radius: 7px;
    font-size: 15px;
    margin: 5px 5px;!important;
}
.logout button{
    width: 75px;
    height: 30px;
    background: white;
    color: #6495ED; !important;
    border: 1px;
    border-radius: 7px;
    font-size: 15px;
    margin: 5px 5px;!important;
}
.logout button:hover{
    cursor: pointer;
    box-shadow: 1px 2px 6px 3px  lightgreen;
}
input{
    font-size: 15px;
}
.logout input[type=text]:hover{
    box-shadow: 1px 2px 6px 3px  lightgreen;
}
.logout input[type=email]:hover{
    box-shadow: 1px 2px 6px 3px  lightgreen;
}
.logout input[type=submit]:hover{
    box-shadow: 1px 2px 6px 3px  red;
    color: red;
}
