*{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    width: 100%;height: 100%;
    list-style-type: none;
}
.head li{
    display: inline;
}
.head li a:hover{
    background: #6495ED;
    color: white;
    border-radius: 9px;
}
.vistor_pic{
    width:80%;
    height: 260px;
    margin: 10px auto;
}
.user_moving{
    width: 80%;
    height: auto;
    margin: 10px auto;
}
.about{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 0;
}
.titleDesc{
    width: 10%;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.titleDesc:after{
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    text-align: left;
}
.titleDesc:hover{
    padding-right: 25px;
}
.titleDesc:hover:after{
    opacity: 1;
    right: 0;
}
.firstDesc{
    width: 100%;
    height: auto;
    display: flex;
}
.secDesc{
    width: 100%;
    height: auto;
    display: flex;
}
.infodesc{
    width: 200px;
    height: 35px;
    background: #a1c4fd;
    color: white;
    font-size: 17px;
    text-align: center;
    margin: 0 100px;
    position: relative;
    transition: all 0.5s;
    border: 1px;
    border-radius: 10px;
}
.infodesc:hover{
    transform:translate(calc(-10% + 5px), calc(-10% - 5px));
    box-shadow:-10px 10px 0 rgba(0,0,0,0.2);
}
#stories{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px 0;
}
.storytxt{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    width: 300px;
    height: 230px;
    border: 1px;
    border-radius: 10px;
    margin: 15px auto;
}
.storytxt:hover{
    box-shadow: 5px 3px 3px #6495ED;
}
audio{
    width: 60%;
    height: 30px;
    margin: -7px 10px;
}
.audiobtn{
    width: auto;
    height: 35px;
    border:1px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    background: #f1f3f4;
}
/*底部链接*/
footer a{
    text-decoration: none;
    font-size:16px;
}
footer a:hover{
    color: gray;
}
/*底部链接图标*/
footer span{
    margin: 0 4px;
}
.link_icon{
    width:16px;
    height: 16px;
}
